.form {
  width: 100%;
  /* margin-bottom: 20px; */
  position: relative;
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.addIconWrap {
  position: absolute;
  left: 47%;
  top: -48px;
}

.addIcon {
  width: 20px;
  height: 20px;
  color: #ffffffb9;
}

.notification {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-color: #477958bf;
  color: white;
  border-radius: 30px;
}
